.pagination .page-item.active .page-link {
    background-color: #28a745 !important;
    border-color:#28a745 !important;
}

.pagination .page-link {
    color: #28a745 !important;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d !important;
}

.pagination .page-item.active .page-link {
    color: #fff !important;
}

.pagination a {
    cursor: pointer;
    z-index: 0 !important;
}

.pagination a:focus {
    box-shadow: none !important;
}

.fields-container {
    height: 150px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: auto;
    padding: 0.375rem 0.75rem;
}